In [136]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [114]:
# make dataframe from csv
bank_df = pd.read_csv("bank-full.csv")
bank_df.head()

,index,age,job,marital,education,credit_default,balance,housing_loan,personal_loan,contact,day,month,duration(sec),campaign,pdays,previous,poutcome,subscription
0,0,58,management,married,tertiary,"no""""",2143,"yes""""","no""""",unknown,5,"may""""",261,1,-1,0,unknown,"no"""""
1,1,44,technician,single,secondary,"no""""",29,"yes""""","no""""",unknown,5,"may""""",151,1,-1,0,unknown,"no"""""
2,2,33,entrepreneur,married,secondary,"no""""",2,"yes""""","yes""""",unknown,5,"may""""",76,1,-1,0,unknown,"no"""""
3,3,47,blue-collar,married,unknown,"no""""",1506,"yes""""","no""""",unknown,5,"may""""",92,1,-1,0,unknown,"no"""""
4,4,33,unknown,single,unknown,"no""""",1,"no""""","no""""",unknown,5,"may""""",198,1,-1,0,unknown,"no"""""

In [115]:
bank_list=[]
bank_list=list(bank_df.select_dtypes(include=['object']).columns)
bank_list

['job',
 'marital',
 'education',
 'credit_default',
 'housing_loan',
 'personal_loan',
 'contact',
 'month',
 'poutcome',
 'subscription']

In [116]:
thing =bank_df[bank_list].nunique()
thing

job               12
marital            3
education          4
credit_default     2
housing_loan       2
personal_loan      2
contact            3
month             12
poutcome           4
subscription       2
dtype: int64

In [117]:
bank_list_binary = ['credit_default','housing_loan','personal_loan','subscription']

In [118]:
# changing data type of binary choices from object to bool
for x in bank_list_binary:
    bank_df[x]=bank_df[x]=="yes\"\""
print(bank_df.head())
bank_df[bank_list].nunique()

   index  age           job  marital  education  credit_default  balance  \
0      0   58    management  married   tertiary           False     2143
1      1   44    technician   single  secondary           False       29
2      2   33  entrepreneur  married  secondary           False        2
3      3   47   blue-collar  married    unknown           False     1506
4      4   33       unknown   single    unknown           False        1

   housing_loan  personal_loan  contact  day  month  duration(sec)  campaign  \
0          True          False  unknown    5  may""            261         1
1          True          False  unknown    5  may""            151         1
2          True           True  unknown    5  may""             76         1
3          True          False  unknown    5  may""             92         1
4         False          False  unknown    5  may""            198         1

   pdays  previous poutcome  subscription
0     -1         0  unknown         False
1     -1         0  unknown         False
2     -1         0  unknown         False
3     -1         0  unknown         False
4     -1         0  unknown         False

job               12
marital            3
education          4
credit_default     2
housing_loan       2
personal_loan      2
contact            3
month             12
poutcome           4
subscription       2
dtype: int64

In [119]:
# dropping uneeded columns
bank_df.drop('index',axis=1, inplace=True)

propbaly should run factoranalysis.
or dimensionality reductions via principal componet analysis.

In [120]:
bank_list=[]
bank_list=list(bank_df.select_dtypes(include=['object']).columns)
bank_list

['job', 'marital', 'education', 'contact', 'month', 'poutcome']

In [121]:
bank_df[bank_list].nunique()

job          12
marital       3
education     4
contact       3
month        12
poutcome      4
dtype: int64

In [122]:
# Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(bank_df[bank_list]))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(bank_list)
encode_df.head()

c:\Users\rab_b\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,"month_jun""""","month_mar""""","month_may""""","month_nov""""","month_oct""""","month_sep""""","poutcome_failure""""","poutcome_other""""","poutcome_success""""",poutcome_unknown
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [128]:
# Merge the two DataFrames together and drop the Country column
bank_df=bank_df.merge(encode_df,left_index=True,right_index=True).drop(bank_list,1)

C:\Users\rab_b\AppData\Local\Temp\ipykernel_1648\1299072144.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  bank_df=bank_df.merge(encode_df,left_index=True,right_index=True).drop(bank_list,1)

In [129]:
bank_df.dtypes

age                      int64
credit_default            bool
balance                  int64
housing_loan              bool
personal_loan             bool
day                      int64
duration(sec)            int64
campaign                 int64
pdays                    int64
previous                 int64
subscription              bool
job_admin.             float64
job_blue-collar        float64
job_entrepreneur       float64
job_housemaid          float64
job_management         float64
job_retired            float64
job_self-employed      float64
job_services           float64
job_student            float64
job_technician         float64
job_unemployed         float64
job_unknown            float64
marital_divorced""     float64
marital_married        float64
marital_single         float64
education_primary      float64
education_secondary    float64
education_tertiary     float64
education_unknown      float64
contact_cellular""     float64
contact_telephone""    float64
contact_unknown        float64
month_apr""            float64
month_aug""            float64
month_dec""            float64
month_feb""            float64
month_jan""            float64
month_jul""            float64
month_jun""            float64
month_mar""            float64
month_may""            float64
month_nov""            float64
month_oct""            float64
month_sep""            float64
poutcome_failure""     float64
poutcome_other""       float64
poutcome_success""     float64
poutcome_unknown       float64
dtype: object

In [130]:
# set up data x and y
y = bank_df.subscription
X = bank_df.drop(columns="subscription")

In [131]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [132]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [134]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train_scaled,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test_scaled)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.901

In [137]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.905